Repository JS-Ninjaaaa/dream-base, pull requests merged in 2025-03, with the labels that each got.

#5 フロントエンドをデプロイするワークフローを定義した
  .github/workflows/vercel.yml
  frontend/.gitignore
Labels: frontend

#7 フロントエンドのデプロイのワークフロを修正した
  .github/workflows/vercel.yml
Labels: frontend

#9 React Router が Vercel でも機能するようにした
  frontend/vercel.json
Labels: frontend

#11 add: dockerfile & vite setting
  .gitignore
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/vite.config.ts
Labels: frontend, backend

#14 ローディング中のUIを実装した
  backend/routes/public_dream.py
  frontend/src/App.tsx
  frontend/src/api/dreams/mine.ts
  frontend/src/api/dreams/public.ts
  frontend/src/components/loading/LoadingOverlay.tsx
  frontend/src/contexts/LoadingContext.tsx
  frontend/src/pages/dreams/mine/MyDreamDeleteButton.tsx
  frontend/src/pages/dreams/mine/MyDreamInput.tsx
  frontend/src/pages/dreams/mine/MyDreamPage.tsx
  frontend/src/pages/dreams/mine/MyDreamPrivacyButton.tsx
  frontend/src/pages/dreams/public/PublicDreamCards.tsx
  frontend/src/pages/dreams/public/PublicDreamLikeButton.tsx
  frontend/src/pages/login/LoginPage.tsx
Labels: frontend

#17 みんな夢画面（モバイル）をカードの幅を広げた
  frontend/src/pages/dreams/public/PublicDreamPage.tsx
Labels: frontend

#21 ユーザーを作成するAPIを追加した
  README.md
  backend/README.md
  backend/app.py
  backend/models/user.py
  backend/routes/auth.py
  backend/routes/user.py
  backend/seeds/users.sql
  openapi.yml
Labels: backend

#27 ユーザー作成のAPIを接続した
  backend/models/user.py
  backend/routes/user.py
  frontend/src/api/users/user.ts
  frontend/src/pages/signup/SignUpPage.tsx
  openapi.yml
Labels: frontend, backend

#31 changed login and singin page ui
  .github/workflows/vercel.yml
  frontend/.env.sample
  frontend/package.json
  frontend/src/lib/supabase.ts
  frontend/src/pages/login/LoginForm.tsx
  frontend/src/pages/login/LoginPage.tsx
  frontend/src/pages/login/XLoginButton.tsx
  frontend/src/pages/signup/SignUpForm.tsx
  frontend/src/pages/signup/SignUpPage.tsx
Labels: frontend

#34 32 make seed
  backend/seeds/dreams.sql
  backend/seeds/seeds_dreams.py
  backend/seeds/seeds_user.py
  backend/seeds/users.sql
Labels: enhancement

#37 OAuthを利用したログインのAPIを定義した
  openapi.yml
Labels: backend

#38 Xアカウントによるログインの実装
  backend/routes/auth.py
  frontend/.env.sample
  frontend/src/App.tsx
  frontend/src/api/auth/auth.ts
  frontend/src/pages/login/XLoginButton.tsx
  frontend/src/pages/login/oauth/OAuthLoginPage.tsx
  frontend/src/types/user.d.ts
  openapi.yml
Labels: frontend, backend

#40 ユーザーIDの型エラーを解消した
  frontend/src/types/dream.d.ts
Labels: frontend

#41 erased like button
  frontend/src/pages/dreams/public/PublicDreamCards.tsx
Labels: frontend

#43 VercelのAnalyticsを導入した
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
Labels: frontend

#44 20 sort my dream backend
  backend/models/dream.py
  backend/routes/my_dream.py
  frontend/src/api/dreams/mine.ts
  frontend/src/pages/dreams/mine/MyDreamPage.tsx
  openapi.yml
Labels: enhancement

#46 fixed sakura effect
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/assets/s5.png
  frontend/public/assets/s6.png
  frontend/public/assets/s7.png
  frontend/public/assets/s8.png
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/css/sakura.scss
  frontend/src/pages/dreams/components/SakuraScatterEffect.tsx
  frontend/vite.config.ts
Labels: frontend

#49 生存確認用APIへのHEADリクエストを許可した
  backend/.env.sample
  backend/app.py
  frontend/src/css/sakura.scss
Labels: backend

#52 バリデーション層を実装した
  README.md
  backend/app.py
  backend/models/user.py
  backend/requirements.txt
  backend/routes/dream/mine.py
  backend/routes/dream/public.py
  backend/routes/my_dream.py
  backend/routes/user.py
  backend/schemas/dream/mine.py
  backend/schemas/dream/public.py
  backend/schemas/user.py
  openapi.yml
Labels: backend

#55 APIの仕様書にハッシュタグを追加した
  openapi.yml
Labels: backend

#56 夢を削除する前に確認用のダイアログを表示するようにした
  frontend/src/pages/dreams/mine/MyDreamDeleteButton.tsx
Labels: frontend

#62 Hashtag UI
  backend/schemas/dream/public.py
  frontend/src/pages/dreams/mine/MyDreamCards.tsx
  frontend/src/pages/dreams/mine/MyDreamPage.tsx
  frontend/src/pages/dreams/mine/MyDreamSortKeySelectBox.tsx
  frontend/src/pages/dreams/mine/card/MyDreamCard.tsx
  frontend/src/pages/dreams/mine/card/MyDreamCardDeleteButton.tsx
  frontend/src/pages/dreams/mine/card/MyDreamCardPrivacyButton.tsx
  frontend/src/pages/dreams/mine/card/dialog/MyDreamCardDialog.tsx
  frontend/src/pages/dreams/mine/card/dialog/MyDreamCardDialogShareButton.tsx
  frontend/src/pages/dreams/mine/form/MyDreamForm.tsx
  frontend/src/pages/dreams/mine/form/MyDreamFormHashtagList.tsx
  frontend/src/pages/dreams/mine/form/MyDreamFormInput.tsx
  frontend/src/pages/dreams/mine/form/MyDreamFormPrivacyToggle.tsx
  frontend/src/pages/dreams/public/PublicDreamCards.tsx
  frontend/src/types/dream.d.ts
Labels: frontend

#58 ハッシュタグのAPIを実装する
  .vscode/extensions.json
  README.md
  backend/README.md
  backend/models/dream.py
  backend/models/user.py
  backend/routes/dream/mine.py
  backend/schemas/dream/mine.py
  backend/schemas/dream/public.py
  backend/schemas/hashtag.py
  backend/seeds/dreams.py
  backend/seeds/users.py
  frontend/src/pages/dreams/mine/MyDreamCards.tsx
  frontend/src/pages/dreams/mine/MyDreamPage.tsx
  frontend/src/pages/dreams/mine/MyDreamSortKeySelectBox.tsx
  frontend/src/pages/dreams/mine/card/MyDreamCard.tsx
  frontend/src/pages/dreams/mine/card/MyDreamCardDeleteButton.tsx
  frontend/src/pages/dreams/mine/card/MyDreamCardPrivacyButton.tsx
  frontend/src/pages/dreams/mine/card/dialog/MyDreamCardDialog.tsx
  frontend/src/pages/dreams/mine/card/dialog/MyDreamCardDialogShareButton.tsx
  frontend/src/pages/dreams/mine/form/MyDreamForm.tsx
  frontend/src/pages/dreams/mine/form/MyDreamFormHashtagList.tsx
  frontend/src/pages/dreams/mine/form/MyDreamFormInput.tsx
  frontend/src/pages/dreams/mine/form/MyDreamFormPrivacyToggle.tsx
  frontend/src/pages/dreams/public/PublicDreamCards.tsx
  frontend/src/types/dream.d.ts
  openapi.yml
Labels: backend

#67 Feature add pr workflow
  .github/workflows/notify-discord.yml
Labels: help wanted

#71 changed fonts
  frontend/public/assets/fonts/JosefinSans-Regular.ttf
  frontend/public/assets/fonts/MPLUSRounded1c-Regular.ttf
  frontend/public/assets/fonts/Ubuntu-Regular.ttf
  frontend/src/css/style.css
  frontend/src/pages/dreams/components/Header.tsx
  frontend/src/pages/dreams/mine/form/MyDreamForm.tsx
  frontend/src/pages/dreams/mine/form/MyDreamFormInput.tsx
  frontend/src/pages/dreams/public/PublicDreamCards.tsx
  frontend/src/pages/dreams/public/PublicDreamPage.tsx
  frontend/src/pages/login/LoginForm.tsx
  frontend/src/pages/login/LoginPage.tsx
  frontend/src/pages/signup/SignUpForm.tsx
  frontend/src/pages/signup/SignUpPage.tsx
Labels: frontend

#75 #59 server log
  backend/app.py
  backend/config/logging_setup.py
  backend/requirements.txt
  backend/routes/auth.py
  backend/routes/dream/mine.py
  backend/routes/dream/public.py
  backend/routes/user.py
  backend/schemas/dream/mine.py
Labels: backend
