Repository JS-Ninjaaaa/dream-base, pull requests merged in 2025-04, with the labels that each got.

#76 73 bin UI
  frontend/src/pages/dreams/mine/MyDreamCards.tsx
  frontend/src/pages/dreams/mine/MyDreamPage.tsx
  frontend/src/pages/dreams/mine/card/MyDreamCard.tsx
  frontend/src/pages/dreams/mine/card/MyDreamCardDeleteButton.tsx
  frontend/src/pages/dreams/mine/card/MyDreamCardPrivacyButton.tsx
  frontend/src/pages/dreams/mine/card/dialog/MyDreamCardDialog.tsx
  frontend/src/pages/dreams/public/PublicDreamCards.tsx
  frontend/src/pages/dreams/public/PublicDreamLikeButton.tsx
  frontend/src/pages/dreams/public/PublicDreamPage.tsx
  frontend/src/pages/dreams/public/card/PublicDreamCard.tsx
  frontend/src/pages/dreams/public/card/dialog/PublicDreamDardDialog.tsx
Labels: frontend

#80 デザインの微調整
  frontend/src/pages/dreams/mine/MyDreamCards.tsx
  frontend/src/pages/dreams/mine/card/MyDreamCard.tsx
  frontend/src/pages/dreams/public/PublicDreamCards.tsx
  frontend/src/pages/dreams/public/card/PublicDreamCard.tsx
  frontend/src/pages/dreams/public/card/dialog/PublicDreamCardDialog.tsx
  frontend/tailwind.config.js
Labels: frontend

#83 ダイアログが起動する領域をビン本体に限定した
  .vscode/extensions.json
  frontend/src/pages/dreams/mine/card/MyDreamCard.tsx
  frontend/src/pages/dreams/public/card/PublicDreamCard.tsx
Labels: frontend

#85 #の入力欄と夢の入力欄を上揃えにした
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/pages/dreams/mine/card/MyDreamCard.tsx
  frontend/src/pages/dreams/mine/form/MyDreamForm.tsx
  frontend/src/pages/dreams/public/card/PublicDreamCard.tsx
  frontend/tailwind.config.js
Labels: frontend

#86 ビンのデザインをよりビンらしくした
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/pages/dreams/mine/card/MyDreamCard.tsx
  frontend/src/pages/dreams/public/card/PublicDreamCard.tsx
  frontend/tailwind.config.js
Labels: frontend

#87 74-sort-card
  backend/Dockerfile
  backend/README.md
  backend/app.py
  backend/config/logging_setup.py
  backend/pytest.ini
  backend/requirements.txt
  backend/test/integration/sort_time_integration_test.py
Labels: bug

#89 公開されている夢をキーワード検索できるようにした
  README.md
  backend/README.md
  backend/models/dream.py
  backend/routes/dream/public.py
  backend/schemas/dream/public.py
  backend/sql/create_dream_and_hashtags.sql
  backend/sql/create_table.sql
  backend/sql/search_public_dream.sql
  backend/sql/sync_user.sql
  backend/sql/update_dream_updated_at.sql
  frontend/src/api/dreams/public.ts
  frontend/src/pages/dreams/mine/MyDreamCards.tsx
  frontend/src/pages/dreams/mine/MyDreamSortKeySelectBox.tsx
  frontend/src/pages/dreams/mine/card/MyDreamCard.tsx
  frontend/src/pages/dreams/mine/card/MyDreamCardDeleteButton.tsx
  frontend/src/pages/dreams/mine/card/MyDreamCardPrivacyButton.tsx
  frontend/src/pages/dreams/mine/card/dialog/MyDreamCardDialog.tsx
  frontend/src/pages/dreams/mine/card/dialog/MyDreamCardDialogShareButton.tsx
  frontend/src/pages/dreams/mine/form/MyDreamForm.tsx
  frontend/src/pages/dreams/mine/form/MyDreamFormHashtagList.tsx
  frontend/src/pages/dreams/mine/form/MyDreamFormInput.tsx
  frontend/src/pages/dreams/mine/form/MyDreamFormPrivacyToggle.tsx
  frontend/src/pages/dreams/public/PublicDreamCards.tsx
  frontend/src/pages/dreams/public/PublicDreamPage.tsx
  frontend/src/pages/dreams/public/PublicDreamSearchInput.tsx
  frontend/src/pages/dreams/public/card/PublicDreamCard.tsx
  frontend/src/pages/dreams/public/card/PublicDreamLikeButton.tsx
  frontend/src/pages/dreams/public/card/dialog/PublicDreamCardDialog.tsx
  openapi.yml
Labels: backend
